In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import sklearn.preprocessing
from sklearn.model_selection import train_test_split

import env
from telco_acquire_prep import get_telco_data, clean_telco, split_telco_data

In [2]:
df = get_telco_data()

In [3]:
df.head()

,Unnamed: 0,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,...,payment_type_id,monthly_charges,total_charges,churn,contract_type_id.1,contract_type,internet_service_type_id.1,internet_service_type,payment_type_id.1,payment_type
0,0,2794-XIMMO,Male,0,Yes,No,53,No,No phone service,1,...,1,60.45,3184.25,Yes,2,One year,1,DSL,1,Electronic check
1,1,2851-STERV,Male,1,No,No,35,Yes,No,1,...,1,73.00,2471.25,No,2,One year,1,DSL,1,Electronic check
2,2,2898-LSJGD,Female,0,Yes,Yes,21,No,No phone service,1,...,1,55.95,1157.05,Yes,2,One year,1,DSL,1,Electronic check
3,3,2969-WGHQO,Female,0,Yes,Yes,7,Yes,No,1,...,1,69.45,477.05,No,2,One year,1,DSL,1,Electronic check
4,4,2988-PLAHS,Female,0,No,No,3,Yes,No,1,...,1,69.95,220.45,No,2,One year,1,DSL,1,Electronic check

In [4]:
clean_telco(df)

,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,...,payment_type_bank_transfer_(automatic),payment_type_credit_card_(automatic),payment_type_electronic_check,payment_type_mailed_check,internet_service_type_dsl,internet_service_type_fiber_optic,internet_service_type_none,contract_type_month-to-month,contract_type_one_year,contract_type_two_year
0,0,1,0,53,0,1,0,1,1,1,...,0,0,1,0,1,0,0,0,1,0
1,1,0,0,35,1,1,0,0,1,1,...,0,0,1,0,1,0,0,0,1,0
2,0,1,1,21,0,1,1,0,1,0,...,0,0,1,0,1,0,0,0,1,0
3,0,1,1,7,1,0,1,1,1,0,...,0,0,1,0,1,0,0,0,1,0
4,0,0,0,3,1,1,0,0,1,0,...,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,1,1,24,1,1,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
7039,0,1,1,52,1,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
7040,0,1,1,69,1,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
7041,0,1,1,68,1,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
7042,0,1,0,59,1,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1

In [5]:
df.dtypes

senior_citizen         int64
partner                int64
dependents             int64
tenure                 int64
phone_service          int64
multiple_lines         int64
online_security        int64
online_backup          int64
device_protection      int64
tech_support           int64
streaming_tv           int64
streaming_movies       int64
paperless_billing      int64
monthly_charges      float64
total_charges        float64
churn                  int64
auto_pay               int64
add_ons                int64
dtype: object

In [6]:
train,validate,test = split_telco_data(df)

AttributeError: 'DataFrame' object has no attribute 'survived'